*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Mono'; 
}

.top-part-profile{
    margin: 10px 55px 3px 39px;
}

.top-part-search_bar button{
    top: 0;
    margin: -123px 550px 3px 260px; 
    width: 622px;
    height: 92px;
    border-radius: 8px;
    background: #EEEDED;
    font-size: 30px;
    float: right;
}

.top-part-search_bar h2{
    font-size: 40px;
    margin: -150px 315px 0 962px;
    float: right;
}

.top-part-search_bar p{
    font-size: 19px;
    margin: -100px 300px 0 962px;
    float: right;
}

.categorias h2{
    margin-left: 65px;
}

.icons-categ{
    margin-bottom: 10px;
}

.icons-categ img{
    margin: 10px 0 0 0;
}

.icons-categ button{
    margin: 10px 0 0 70px;
    width: 100px;
    height: 100px;
    background: rgb(255, 98, 0);
    border-radius: 10px;
    border: none;
}

.pizzas-fav{
position: absolute;
left: 240px;
top: 300px;
}

.pizzas-fav h3{
    margin: -50px 0 30px 0;
}

.imagens-fav{
    display: flex;
    gap: 50px;
}

.imagens-fav img{
    margin-left: -200px;
}

.imagens-fav button{
    z-index: 2;
    margin: 90px 65px 0 0;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background:rgb(255, 98, 0);
    color: #FFF;
}

.legenda button{
    z-index: 2;
    margin: 109px 0 0 -330px;
    width: 150px;
    height: 80px;
    border-radius: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 0 0 0 10px;
}

.recomendadas{
    position: absolute;
    left: 0px;
    top: 300px;
}

.recomendadas h3{
    margin: -50px 0 30px 0;
}
    
.imagens-rec{
    display: flex;
    gap: 50px;
}
    
.imagens-rec img{
    margin-left: -200px;
}

.imagens-rec button{
    z-index: 2;
    margin: 90px 65px 0 0;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background:rgb(255, 98, 0);
    color: #FFF;
}
    
.legenda button{
    z-index: 2;
    margin: 109px 0 0 -330px;
    width: 150px;
    height: 80px;
    border-radius: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 0 0 0 10px;
}

.bebidas{
    position: absolute;
    left: 340px;
    display: flex;
}

.imagens-bebida{
    gap: 50px;
}

.legenda-bebida h3{
    margin-left: -340px;
    margin-top: 12px;
}

.imagens-bebida button img{
    z-index: 3;
    justify-content: center;
}

.imagens-bebida button{
    z-index: 1;
    margin: 30px 0px 30px -380px;
    width: 260px;
    height: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    border-radius: 10px;
    border: none;
}