*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Mono'; 
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../img/index1/imagen-fundo.svg');                                                                                                                                                                                                                                                                                                                                                                                                                                   
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* <!-- Titulo com a logo da pizzaria --> */
.title h1 {
    color: #ffffff;
    font-size: 128px;
    font-weight: 400;
    margin: 76px 0 0 89px;
    display: inline-block;
}

.title img{
    margin: 76px 0 0 96px;
}
/* <!-- /Titulo com a logo da pizzaria/ --> */

/* <!-- Conteudo escrito do site --> */
.content h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 500;
    margin: 110px 0 0 128px;
}

.content p{
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    margin: 28px 732px 0 128px;
}
/* <!-- /Conteudo escrito do site/ --> */

/* <!-- Botão --> */
.botao-start{
    margin: 50px 0 83px 110px;
}

.botao-start button{
    width: 600px;
    height: 122px;
    background-color: #FFF;
    color: orange;
    border-radius: 60px;
    font-size: 50px;
}
/* <!-- /Botão/ --> */