*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Mono'; 
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../img/index2/imagen-fundo.svg');                                                                                                                                                                                                                                                                                                                                                                                                                                   
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* <!-- Titulo com a logo da pizzaria --> */
.title h1 {
    color: #ffffff;
    font-size: 128px;
    font-weight: 400;
    margin: 76px 0 0 89px;
    display: inline-block;
}

.title img{
    margin: 76px 0 0 96px;
}
/* <!-- /Titulo com a logo da pizzaria/ --> */

/* <!-- Conteudo de acesso a conta --> */
.content-login h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 500;
    margin: 50px 0 0 128px;
}

.content-login p{
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    margin: 28px 732px 0 128px;
    display: inline-block;
}
/* <!-- /Conteudo de acesso a conta/ --> */

/* <!-- Botões e itens para escrever o email --> */
.conteiner-login{
    margin-top: 40px;
}

.login img {
    margin: 24px 23px -30px 96px;  
}

.login p{
    display: inline-block;
    margin: 40px 0 3px 22px; 
    color: #FFF;
}

button {
    width: 875px;
    height: 1px;
    background: #FFF;
    margin: 34px 482px 60px 83px;
}
/* <!-- /Botões e itens para escrever o email/ --> */

/* <!-- Botões e itens para escrever a senha --> */
.login-password img{
    margin: 0px 23px -30px 96px;
}

.login-password p{
    display: inline-block;
    margin: 40px 0 3px 22px; 
    color: #FFF;
}
/* <!-- /Botões e itens para escrever a senha/ --> */

/* <!-- Botão de entrar e esqueci senha --> */
.botao-entrar button{
    width: 600px;
    height: 100px;
    background-color: #FFF;
    color: orange;
    border-radius: 60px;
    font-size: 50px;
}

.botao-entrar p{
    color: #FFF;
    margin: -30px 500px 40px 297px;
    font-size: 20px;
    display: inline-block;
}
/* <!-- /Botão de entrar e esqueci senha/ --> */

/* <!-- Texto ainda não tem conta --> */
.no-account{
    margin: -150px 100px 72px 1069px;
}

.no-account p{
    color: #FFF;    
    font-size: 20px;
}
/* <!-- /Texto ainda não tem conta/ --> */

/* <!-- Texto criar conta --> */
.no-account-create{
    margin: -20px 212px 72px 1140px;
}

.no-account-create p{
    color: #FFF;    
    font-size: 20px;
}
/* <!-- /Texto criar conta/ --> */